<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="Web browser">
			<action name="Execute">
				<execute>x-www-browser</execute>
			</action>
		</item>
		<item label="Files">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'menu' package to work -->
		<separator/>
		<menu id="client-list-menu"/>
		<separator/>
		<menu id="root-menu-62750" label="Config">
			<item label="obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="tint2conf">
				<action name="Execute">
					<execute>tint2conf</execute>
				</action>
			</item>
			<item label="lxappearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="root-menu-12321" label="Leave">
			<item label="Log out">
				<action name="Exit"/>
			</item>
			<item label="Lock">
				<action name="Execute">
					<execute>light-locker-command -l</execute>
				</action>
			</item>
			<item label="Reboot">
				<action name="Execute">
					<execute>reboot</execute>
				</action>
			</item>
			<item label="Shutdown">
				<action name="Execute">
					<execute>shutdown now</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
